<li id="micropost-<%= micropost.id %>">
 <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
 <span class="user">
  <%= link_to micropost.user.name, micropost.user %>
 </span>
 <span class="content">
 <%= micropost.content %>
  <% if micropost.picture? %>
   <% if micropost.picture.file.content_type.include?('image/') %>
    <%= image_tag micropost.picture.url(:thumb) %>
   <% else %>
   <div class="video-content">
    <%= video_tag micropost.picture.url, width: "50%", height: "50%", controls: true, autobuffer: true, autoplay: true, muted: true,  playsinline: true %>
    </div>
   <% end %>
  <% end %>
 </span>

 <span class="timestamp">
  <%= time_ago_in_words(micropost.created_at) %>前に投稿
  <% if current_user?(micropost.user) %>
   <%= link_to "削除", micropost, method: :delete, data: { confirm: "本当に削除しますか？" } %>
  <% end %>
 </span>
</li>